<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tele.mapper">
	<!-- 예약 리스트 출력 -->
  <select id = "tele_list" parameterType="String" resultType="teledto">
	 SELECT TEL_SEQ,ID_U,NAME_U,NUMBER_U,ID_D,NAME_D,NUMBER_D,MEDICAL_D,DEPARTMENT,CHAT_NO,CHECKD,DISEASE,RESERV_DATE FROM
  	TELEMEDICINE JOIN USER_TB USING(ID_U) JOIN DOCTOR_TB USING(ID_D) WHERE ID_D = #{id_d}
  </select>
  <!-- 예약 상세 정보 -->
  <select id = "tele_info" parameterType="int" resultType="teledto">
  	SELECT TEL_SEQ,ID_U,NAME_U,NUMBER_U,ID_D,NAME_D,NUMBER_D,MEDICAL_D,DEPARTMENT,CHAT_NO,CHECKD,DISEASE,RESERV_DATE FROM
  	TELEMEDICINE JOIN USER_TB USING(ID_U) JOIN DOCTOR_TB USING(ID_D) WHERE TEL_SEQ = #{tel_seq}
  </select>
  <!-- 예약 상세 정보  id-u -->
  <select id = "tele_memberinfo" parameterType="String" resultType="teledto">
  	SELECT TEL_SEQ,ID_U,NAME_U,NUMBER_U,ID_D,NAME_D,NUMBER_D,MEDICAL_D,DEPARTMENT,CHAT_NO,CHECKD,DISEASE,RESERV_DATE FROM
  	TELEMEDICINE JOIN USER_TB USING(ID_U) JOIN DOCTOR_TB USING(ID_D) WHERE ID_U = #{id_u}
  </select>
  <!-- 예약 신청 -->
  <insert id = "tele_insert" parameterType="teledto">
  	INSERT INTO TELEMEDICINE VALUES(TELE_SEQ.NEXTVAL,#{id_u},#{id_d},#{chat_no},#{checkd},#{disease},#{reserv_date})
  </insert>
  <!-- 예약 정보 수정 -->
  <update id = "tele_update_info" parameterType="map">
  	UPDATE TELEMEDICINE SET RESERV_DATE = #{reserv_date} WHERE TEL_SEQ = #{tel_seq}
  </update>
  <!-- 환자 예약 승인 -->
  <update id = "tele_update_check" parameterType="map">
  	UPDATE TELEMEDICINE SET CHECKD = 'Y' WHERE TEL_SEQ = #{tel_seq}
  </update>
</mapper>
