<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lntegrated.notice">
	<!-- 의사 테이블 조인 해야함  -->
	<!-- 의사테이블에서 필요한 컬럼 : 의사 이름 / 직장 주소 / 직책  -->
	<!-- 공지사항 목록 -->
  <select id = "notice_list" resultType="noticedto">
  	SELECT NT_SEQ, ID_D, TITLE, CONTENT, REGDATE, VIEWS, NAME_D, MEDICAL_D, GRADE_D, DEPARTMENT
  	FROM NOTICE JOIN DOCTOR_TB USING(ID_D)
  	
  </select>
  <!-- 공지사항 내용 -->
  <select id="notice_info" parameterType="int" resultType="noticedto">
  	SELECT NT_SEQ, ID_D, TITLE, CONTENT, REGDATE, VIEWS, NAME_D, MEDICAL_D, GRADE_D, DEPARTMENT FROM NOTICE JOIN DOCTOR_TB USING(ID_D) WHERE NT_SEQ = #{nt_seq}
  </select>
  <!-- 공지사항 작성 -->
  <insert id="notice_insert" parameterType="noticedto">
  	INSERT INTO NOTICE VALUES(NOTICE_SEQ.NEXTVAL,#{id_d},#{title},#{content},SYSDATE,0)
  </insert>
  
  <!-- 공지사항 수정 -->
  <update id="notice_update" parameterType="noticedto">
  	UPDATE NOTICE SET TITLE = #{title} , CONTENT = #{content}
  	WHERE NT_SEQ = #{nt_seq}
  </update>
  
  <update id = "notice_views_update" parameterType="String">
  	UPDATE NOTICE SET VIEWS = VIEWS+1 WHERE ID_D = #{id_d}
  </update>
  <!-- 공지사항 삭제 -->
	<delete id="notice_delete" parameterType="int">
		DELETE FROM NOTICE WHERE NT_SEQ = #{nt_seq}
	</delete>
</mapper>
