<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lntegerated.doctor_mapper">
	<!-- 회원 정보 리스트 -->
	<select id="doctor_list" resultType="doctordto">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT,ACTIVATION
		FROM DOCTOR_TB
	</select>
	<!-- 회원 정보 -->
	<select id="doctor_info">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT
		FROM DOCTOR_TB WHERE ID_D = #{ID_D}
	</select>
	<!-- 회원 가입 -->
	<insert id="doctor_insert" parameterType="doctordto">
		INSERT INTO DOCTOR_TB VALUES(#{id_d},#{pw_d},#{name_d},#{gender_d},#{number_d},#{addr_d},#{medical_d},#{email_d},#{gender_d},#{department},'L')
	</insert>
	<!-- 회원 수정 -->
	<update id="doctor_update" parameterType="doctordto">
		UPDATE DOCTOR_TB SET PW_D = #{pw_d}, NAME_D = #{name_d},NUMBER_D = #{number_d}, ADDR_D = #{addr_d},MEDICAL_D = #{medical_d},EMAIL_D = #{email_d},GRADE_D = #{grade_d},DEPARTMENT = #{department}
		WHERE ID_D = #{id_d}
	</update>
	<!-- 회원 삭제 -->
	<update id="doctor_delete" parameterType="String">
		UPDATE DOCTOR_TB SET ACTIVATION = 'D' WHERE ID_D = #{id_d}
	</update>
</mapper>
