<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lntegerated.doctor_mapper">
	<!-- 회원 정보 리스트 -->
	<select id="doctor_list" resultType="doctordto">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT, ACTIVATION, BD_D
		FROM DOCTOR_TB
	</select>
	<!-- 이메일 확인 -->
	<select id="doctor_email" parameterType="String" resultType="doctordto">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT, BD_D
		FROM DOCTOR_TB WHERE EMAIL_D = #{email_d}
	</select>
	<!-- 회원 정보 -->
	<select id="doctor_info" parameterType="String" resultType="doctordto">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT, BD_D
		FROM DOCTOR_TB WHERE ID_D = #{id_d}
	</select>
	<!-- 로그인 정보 -->
	<select id="doctor_login" parameterType="map" resultType="doctordto">
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT, BD_D, ACTIVATION
		FROM DOCTOR_TB WHERE ID_D = #{id_d} AND PW_D = #{pw_d}
	</select>
	<!-- 회원 가입 -->
	<insert id="doctor_insert" parameterType="doctordto">
		INSERT INTO DOCTOR_TB VALUES(#{id_d},#{pw_d},#{name_d},#{gender_d},#{number_d},#{addr_d},#{medical_d},#{email_d},#{grade_d},#{department},'L',#{bd_d})
	</insert>
	<!-- 회원 수정 -->
	<update id="doctor_update" parameterType="doctordto">
		UPDATE DOCTOR_TB SET PW_D = #{pw_d}, NAME_D = #{name_d},NUMBER_D = #{number_d}, ADDR_D = #{addr_d},MEDICAL_D = #{medical_d},EMAIL_D = #{email_d},GRADE_D = #{grade_d},DEPARTMENT = #{department}, BD_D=#{bd_d}
		WHERE ID_D = #{id_d}
	</update>
	<!-- 회원 삭제 -->
	<update id="doctor_delete" parameterType="String">
		UPDATE DOCTOR_TB SET ACTIVATION = 'D' WHERE ID_D = #{id_d}
	</update>
	<!-- 의사 탈퇴전 비밀 번호확인 -->
	<select id="doctor_delete_pwchk" parameterType="String" resultType="String">
		SELECT PW_D FROM DOCTOR_TB WHERE ID_D = #{ID_D}
	</select>
	<select id = "doctor_google_login" parameterType="String" resultType="doctordto" >
		SELECT ID_D,PW_D,NAME_D,GENDER_D,NUMBER_D,ADDR_D,MEDICAL_D,EMAIL_D,GRADE_D,DEPARTMENT, BD_D, ACTIVATION
		FROM DOCTOR_TB WHERE EMAIL_D = #{email}
	</select>
</mapper>
