@charset "utf-8";

body{
	background: #fcfeff;
}

#div1 {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	bottom: 0;
	width: 500px;
	min-width: 200px;
	max-width: auto;
}

#div2,#div3,#div4,#footer{
	position: relative;
	left: 0;
	right: 0;
	margin: 20px;
	margin-bottom: 50px;
}
	
h4{
	margin-bottom: 7px;
	margin-left: 2px;
	color: #263e63;
}


#span1{
	display: block;
    position: relative;
    width: 100%;
    height: 50px;
    border: solid 1px #75adc7;
    padding: 5px 5px 5px 5px;
    background: #fff;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: inherit;
}



#spanchild{
	width: 330px;
}

input{
	max-width: 100%;
	width: 100%;
	height: 100%;
	border: none;
}

#span2{
	position: absolute;
	display: block;
	top: 16px;
	right: 13px;
	line-height: 18px;
	width: auto;
	color: #263e63;
}

img{
	height: 50px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#bd_yy, #bd_mm, #bd_d,#ph1, #ph2{
	display: table-cell;
	table-layout: fixed;
	width: 147px;
	vertical-align: middle;
}

#bd_yy+ #bd_mm,#bd_mm+ #bd_d{
	padding-left: 10px;
}
#ph1+ #ph2{
	padding-left: 16px;
}

select{
	margin-top: 11px;
	width: 100%;
	border: 0;
	background: url("imgs/selecticon.png") no-repeat 100% 50%; 
	border-radius: 0px;
	-webkit-appearance: none;
}
#phoneno{
	position: absolute;
	display: inline;
}

#phnovfy{
	position: relative;
	display: block;
	text-decoration: none;
	height: 50px;
	width: 150px;
	background-color: #75adc7;
	text-align: center;
	border: solid 1px #263e63;
}

#verification{
	position: relative;
	display: block;
	text-decoration: none;
	height: 50px;
	width: 462px;
	background-color: #75adc7;
	text-align: center;
	border: solid 1px #263e63;
}


#phnovfy:visited, #phnovfy:link, #phnovfy:active,#verification:visited, #verification:link, #verification:active  {
	color: white;
}
#phinput{
	width: 282px;
}

#none{
	margin-top: 12%;
	display: block;
}
#none1{
	display: block;
	margin-top: 1px;
}














#footer {
    clear: both;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    text-align:center
}

#footer * {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color:#333
}

#footer a {
    text-decoration: none;
    color:#333
}

#footer a:visited {
    text-decoration: none;
    color:#666
}

#footer a:hover {
    text-decoration:underline
}

#footer ul {
    margin:0 0 9px 0
}

#footer ul li {
    font-size: 12px;
    position: relative;
    display: inline;
    padding: 0 3px 0 7px;
    white-space: nowrap;
    background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif) left 50% no-repeat;
    -webkit-background-size: 1px 10px;
    background-size:1px 10px
}

#footer ul li:first-child {
    background:0 0
}

#footer ul li a:hover, #footer ul li a:hover strong {
    color:#438a01
}

#footer ul li.first {
    padding: 0 3px 0 0;
    background:0 0
}

#footer .info {
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 11px 0;
    color:#7e7e7e
}

#footer .info2 {
    font-size: 11px;
    line-height: 18px;
    margin:-3px 0 13px 0
}

#footer .info2 span {
    font-size: 11px;
    display: inline-block;
    margin-left: 2px;
    padding-left: 7px;
    background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif) left 50% no-repeat;
    -webkit-background-size: 1px 10px;
    background-size:1px 10px
}

#footer address {
    font:9px/14px Verdana
}

#footer address a {
    font: 700 9px Verdana;
    color:#333
}

#footer address a:hover {
    color:#2db400
}

#footer address span {
    font: 9px/14px Verdana;
    padding-left:2px
}

#footer address em {
    font: 9px verdana;
    padding-left:4px
}

#footer address .logo {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 12px;
    background: url(https://static.nid.naver.com/images/ui/login/pc_sp_login_190522.png) no-repeat;
    background-position: -242px 0;
    -webkit-background-size: 460px auto;
    background-size: 460px auto;

}

:root #footer address .logo {
    top: 2px;
    margin-left:1px
}

#footer address .u_cri {
    display: none;
    margin: 0;
    padding-left: 1px;
    font-size:12px
}

#footer address .bar, html[lang=en] #footer .footer_none, html[lang=zh-Hans] #footer .footer_none, html[lang=zh-Hant] #footer .footer_none {
    display:none
}


