@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body{
background: #fcfeff;
}

a{
    text-decoration: none;
}

a:visited, a:active, a:link{
    color: black;
}

input{
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    width: 100%;
    border: 1px solid #c4dee8;
    font-size: 16pt;   
}

.frame{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    position: relative;
    left: 57%;
    transform: translateX(-50%);
    width: 500px;
    top: 250px;

}
.mord{
    position: relative;
    left: 3%;
    top: -310px;
}
.select{
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
}

.selectspan{
    display: inline-block;
    position: relative;
    width: 40%;
    height: 25px;
    padding-top: 15px;
    background-color: transparent;
}

.logintable{
    position: absolute;
    top: 18%;
    left: 1%;
    border-spacing: 12px;
    text-align: center;
    width: 82%;
}

.logininfo{
    display: table-cell;
    color: white;
    width: fit-content;
    height: fit-content;
}

.logincell{
    vertical-align: middle;
    background-color: #f14a3b;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.loginbtn{
    font-size: 25pt;
    background-color: transparent;
    border: none;
    color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.register{
    position: absolute;
    top: 12%;
    right: 2%;
    font-size: 16pt;
}

.snsLogin{
    position: relative;
    margin-left: 8%;
    bottom: 130px;

}

.snsicon{
    display: inline-block;
    position: relative;
    width: 50px;
    margin-left: 50px;
}

.footer{
    position: absolute;
    width: 100%;
    text-align: center;
    color: gray;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
}

#logo{
    display: block;
    width: 200px;
    margin-top: 80px;

}

